<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="profile/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>


<!--导航-->
<nav th:replace="profile/_fragments :: menu(5)" class="ui inverted attached segment  m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu ">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>

            <div class="m-item m-mobile-hide right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/1/100/100?image=1005" alt="" class="ui avatar image">
                        Creek
                    </div>
                    <i class=" dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">修改头像</a>
                        <a href="#" class="item">修改昵称</a>
                        <a href="#" class="item">退出登录</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon menu toggle button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/profile/blogs/input}" class="item">发布</a>
            <a href="#" th:href="@{/profile/blogs}" class="active teal item">列表</a>
        </div>
    </div>
</div>-->

<!--中间内容-->

<div class="m-container-large m-padded-tb-large">
    <div class="ui container">
        <div class="ui stackable  grid">
            <!--左边-->
            <div th:replace="profile/_fragments :: profile(1)" class="three wide column">
                <div class="ui grid segment">
                    <div class="sixteen wide column">

                        <div class="ui  massive selection primary list ">
                            <div class="content item">
                                <a href="#" class="header item active" style="text-decoration: none">个人资料</a>
                            </div>
                            <div class="content item">
                                <a class="header" style="text-decoration: none">我的博客</a>
                            </div>
                            <div class="content item">
                                <a class="header" style="text-decoration: none">我的消息</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--右边-->
            <div class="thirteen wide column">
                <div class="ui grid segment">
                    <div class="sixteen wide column">
                        <!--头部-->
                        <div class="ui secondary  form">
                            <input type="hidden" name="page">
                            <div class="inline fields">
                                <div class="field">
                                    <input type="text" name="title" placeholder="标题">
                                </div>

                                <div class="field">
                                    <div class="ui labeled action input">
                                        <div class="ui type selection dropdown">
                                            <input type="hidden" name="typeId">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">分类</div>
                                            <div class="menu">
                                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}"
                                                     th:text="${type.name}">错误日志</div>
                                                <!--/*-->
                                                <div class="item" data-value="2">开发者手册</div>
                                                <!--*/-->
                                            </div>
                                        </div>
                                        <button id="clear-btn" class="ui compact button">clear</button>
                                    </div>
                                </div>


                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="recommend" name="recommend">
                                        <label for="recommend">推荐</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <button type="button" id="search-btn" class="ui teal basic mini button"><i class="search icon"></i>搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--列表-->
                        <div id="table-container">
                            <!--内容表单-->
                            <table th:fragment="blogList" class="ui compact teal table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>标题</th>
                                    <th>类型</th>
                                    <th>推荐</th>
                                    <th>发布</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="blog, iterStat : ${page.content}">
                                    <td th:text="${iterStat.count}">1</td>
                                    <td th:text="${blog.title}">刻意练习清单</td>
                                    <td th:text="${blog.type.name}">认知升级</td>
                                    <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                                    <td th:text="${blog.published} ? '发布' : '草稿'">草稿</td>
                                    <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}">2019-12-20 12：20</td>
                                    <td>
                                        <a href="#" th:href="@{/profile/blogs/{id}/input(id=${blog.id})}"
                                           class="ui mini basic teal button">编辑</a>
                                        <a href="#" th:href="@{/profile/blogs/{id}/delete(id=${blog.id})}"
                                           class="ui mini basic red button">删除</a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="7">
                                        <div class="ui mini  pagination menu" th:if="${page.totalPages}>1">
                                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item"
                                               th:unless="${page.first}">上一页</a>
                                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item"
                                               th:unless="${page.last}">下一页</a>
                                        </div>
                                        <a href="#" th:href="@{/profile/blogs/input}"
                                           class="ui mini right floated   teal basic button">新增
                                        </a>
                                    </th>
                                </tr>
                                </tfoot>
                            </table>

                            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                                <i class="close icon"></i>
                                <div class="header">提示：</div>
                                <p th:text="${message}">恭喜您，操作成功！</p>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!--底部-->
<footer th:replace="profile/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-huge">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                </div>
            </div>

            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                </div>
            </div>

            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-opacity-mini">最新博客</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    浏览器根据响应头的内容类型处理接收结果，告诉浏览器响应体存放的都是文字类型，浏览器将所有内容按文字输出。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright © 2019 - 2020 Designed By Creek All Rights
            Reserved</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }


    $('#clear-btn')
        .on('click', function() {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        })
    ;

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });
    function loaddata() {
        $("#table-container").load(/*[[@{/profile/blogs/search}]]*/"/profile/blogs/search",{
            title : $("[name='title']").val(),
            typeId : $("[name='typeId']").val(),
            recommend : $("[name='recommend']").prop('checked'),
            page : $("[name='page']").val()
        });
    }
</script>
</body>
</html>