<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{css/me.css}">
</head>
<body>

<nav   class="ui inverted attached segment  m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu ">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" th:href="@{/}" class="m-item item m-mobile-hide" ><i
                    class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide" ><i
                    class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide" ><i
                    class="tags icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" ><i
                    class="clone icon"></i>归档</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" ><i
                    class="info icon"></i>关于我</a>
            <div class="m-item right item m-mobile-hide ">
                <form name="search" method="post" action="#" th:action="@{/search}" target="_blank">
                    <div class="ui icon input">
                        <input type="text" name="query" placeholder="Search...." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
                <div class="m-padded-lr-login">
                    <div class="ui icon secondary button">
                        <a href="/admin/login" class="blue">管理员登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon menu toggle button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <img src="../static/images/logo.png" class="image" th:src="@{/images/logo.png}">
                    <div class="content">
                        博客登录
                    </div>
                </h2>

                <form class="ui large form" method="post" action="#" th:action="@{/login}">
                    <div class="ui  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="name" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">登 录</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">
                        用户名和密码错误
                    </div>
                </form>

                <div class="ui message">
                    <a href="https://github.com/login/oauth/authorize?client_id=2298d1ee49e87436a82e&redirect_uri=http://localhost:8080/callback&scope=user&state=1"><span class="left">使用GitHub账户登录： </span><i class="github icon"></i></a>
                </div>
                <div class="ui message">
                    还没有账户? <a href="#" th:href="@{/signup}">注册一个账户</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<script>
    $('.ui.form').form({
        fields: {
            name: {
                identifier: "name",
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: "password",
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    })
</script>

</body>
</html>