<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment  m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu ">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" th:href="@{/}" class="m-item item m-mobile-hide" ><i
                    class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i
                    class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide" ><i
                    class="tags icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" ><i
                    class="clone icon"></i>归档</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" ><i
                    class="info icon"></i>关于我</a>
            <div class="m-item right item m-mobile-hide ">
                <form name="search" method="post" action="#" th:action="@{/search}" target="_blank">
                    <div class="ui icon input">
                        <input type="text" name="query" placeholder="Search...." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
                <div class="m-padded-lr-login">
                    <div class="ui icon secondary button">
                        <a href="/login" class="blue">登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon menu toggle button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

    <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
        <div class="ui container">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <h2 class="ui teal image header">
                        <img src="../../static/images/logo.png" class="image" th:src="@{/images/logo.png}">
                        <div class="content">
                            博客用户注册
                        </div>
                    </h2>

                    <form class="ui large form" method="post" action="#" th:action="@{/signup}">
                        <div class="ui  segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" th:value="${name}" name="name" placeholder="请输入用户名" >
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="child icon"></i>
                                    <input type="text" th:value="${nickname}" name="nickname" placeholder="请输入昵称" >
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="email" th:value="${email}" name="email" placeholder="请输入邮箱" >
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="请输入密码" >
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="protect icon"></i>
                                    <input type="password" name="confirmPassword" placeholder="请确认密码" >
                                </div>
                            </div>
                            <button class="ui fluid large teal submit button">注  册</button>
                        </div>

                        <div class="ui error mini message"></div>
                        <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名重复</div>

                    </form>
                </div>
            </div>
        </div>
    </div>




<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<script>
    $('.ui.form').form({
        fields: {
            name: {
                identifier: "name",
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            nickname: {
                identifier: "nickname",
                rules: [{
                    type: 'empty',
                    prompt: '请输入昵称'
                }]
            },
            email: {
                identifier: "email",
                rules: [{
                    type: 'empty',
                    prompt: '请输入邮箱'
                }]
            },
            password: {
                identifier: "password",
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            },
            confirmPassword: {
                identifier: "confirmPassword",
                rules: [{
                    type: 'empty',
                    prompt: '请再次输入密码'
                }]
            }
        }
    })
</script>

</body>
</html>